@use "../base/index.scss" as *;
@use "sass:map";

.project {
  & .project-list {
    & .project-card {
      & figure:has(figcaption) {
        padding: 10px;
        background: #fff;
        color: map.get($color, _teal);
      }
    }
  }
  & .list-of-project {
    @include position(absolute, 50%, 50%, -50%, -50%, 2);
    background: map.get($color, _bg);
    & .name{
        & h1{
            @include clamp(font-size, 1.5rem, 2.5vw, 3rem);
            font-variant: small-caps;
            color: map.get($color, _teal);
        }
    }
  }
}
