@use '../base/index.scss' as *;
@use 'sass:map';

.custom-cursor{
    width: 40px;
    height: 40px;
    background: map.get($color, _teal);
    border-radius: 50%;
    @include position(fixed, null, null, -50%, -50%, 9999);
    pointer-events: none;
    transition: transform 0.05s ease-in-out;
    mix-blend-mode:soft-light;
}

.custom-cursor-dot{
    width: 7px;
    height: 7px;
    background: map.get($color, _teal);
    border-radius: 50%;
    @include position(fixed, null, null, -50%, -50%, 10000);
    pointer-events: none;
    mix-blend-mode: difference;
}