@use "../base/index.scss" as *;
@use "sass:map";

.expandable-button {
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: map.get($color, _teal);
  color: map.get($color, _light);
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  transition: width 0.2s ease, background-color 0.4s ease, color 0.3s ease;
  @media (max-width: 410px) {
    height: 3rem;
    width: 3rem;
    padding: 0 .8rem;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
  }

  & .expandable-icon {
    font-size: 1.5rem;
    flex-shrink: 0;
    transform: translateY(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  & .label {
    margin-left: 1rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    font-size: 1.2em;
    font-weight: 600;
    @media (max-width: 410px) {
      margin-left: 0.4rem;
    }

    &.active {
      .label-text {
        display: inline-block;
      }
    }
  }

  &:hover,
  &.active {
    width: 8.5rem;
    color: map.get($color, _light);
    @media (max-width: 410px) {
      width: 7.5rem;
    }
    & .label {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.active .expandable-icon {
    animation: icon-anima 0.4s ease-out;
  }
}

@keyframes icon-anima {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
