// Clamp
@mixin clamp($property, $min, $pre, $max){
    #{$property}: clamp(#{$min}, #{$pre}, #{$max})
}

// Position - Absolute
@mixin absolute($t, $l, $x, $y, $z){
    position: absolute;
    top: $t;
    left: $l;
    transform: translate($x, $y);
    z-index: $z;
}